<h2 mat-dialog-title> Add Camera </h2>
        <form  class="home-form" [formGroup]='form' (ngSubmit)='onSubmit()' #cameraForm="ngForm">
          <mat-dialog-content class="home-form-div">
            <mat-form-field>
              <input [ngClass]="{'error' : isValid('name')}" matInput placeholder="Name" formControlName='name'>
            </mat-form-field>
            <mat-form-field>
              <input [ngClass]="{'error' : isValid('ipv4')}" matInput placeholder="Ipv4" formControlName='ipv4'>
            </mat-form-field>
            <mat-form-field>
              <input [ngClass]="{'error' : isValid('ipv6')}"  matInput placeholder="Ipv6" formControlName='ipv6'>
            </mat-form-field>
            <mat-form-field>
              <input [ngClass]="{'error' : isValid('port')}" matInput placeholder="Port Number" formControlName='port'>
            </mat-form-field>
            <mat-form-field>
              <input [ngClass]="{'error' : isValid('mainStream')}"  matInput placeholder="Main Stream Url"  formControlName='mainStream'>
            </mat-form-field>
            <mat-form-field>
              <input [ngClass]="{'error' : isValid('subStream')}" matInput placeholder="SubStream Url" formControlName='subStream'>
            </mat-form-field>
          </mat-dialog-content>
          <br><br>
          <mat-dialog-actions>
            <button type="submit" id='signup-btn'  [disabled]="!cameraForm.form.valid" mat-raised-button color='primary'>Add</button>
            <button type="button" (click)="onNoClick()"  mat-raised-button color='accent' >Cancel</button>
          </mat-dialog-actions>
        </form>
