<div class="chart-cont" *ngIf="lineChartData.length > 0" >

    <canvas baseChart
                [data]="lineChartData"
                [labels]="lineChartLabels"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
  </div>
  <!-- <div class="col-md-6">
    <canvas baseChart
                [data]="pieChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
  </div> -->
  <div class="col-md-12 text-center" style="margin-top: 10px;height: 50%">
    <button mat-button (click)="randomizeType()" style="display: inline-block; background: rgb(236, 236, 240)">Change Chart</button>
  </div>

