
<h3 *ngIf="objects.length">Objects:</h3>

<mat-grid-list cols="2" rowHeight='150px' *ngIf="objects.length">
    <mat-grid-tile  *ngFor="let obj of objects" >

        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>
                    <mat-icon *ngIf="obj.type==='LED'"> lightbulb_outline </mat-icon>
                    <mat-icon *ngIf="obj.type==='LIGHT'"> highlight </mat-icon>
                    <mat-icon *ngIf="obj.type==='PRESENCE'"> remove_red_eye </mat-icon>
                    <mat-icon *ngIf="obj.type==='POWER'" > power </mat-icon>
                    <mat-icon *ngIf="obj.type==='TEMPERATURE'" > toll </mat-icon>
                    <mat-icon *ngIf="obj.type==='VENTILATOR'" > toys </mat-icon>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <h4>{{obj.name}}</h4>
                <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon id="settings">more_vert</mat-icon></button>
                <button mat-icon-button (click)='getObjectMeasure(obj)'><mat-icon>refresh</mat-icon></button>
                <button mat-icon-button *ngIf="(obj.type==='LED' || obj.type==='VENTILATOR') && (obj.measure!='Disconnected' && obj.measure)" (click)='toggleObject(obj)'><mat-icon>power_settings_new</mat-icon></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="showDialog(obj)">
                        <mat-icon>settings</mat-icon>
                        <span>settings</span>
                    </button>
                </mat-menu>
                <p *ngIf="obj.measure && obj.measure!='Disconnected'"> 
                    <span *ngIf="(obj.type==='LED' || obj.type==='VENTILATOR') && obj.measure==='1'">ON</span>
                    <span *ngIf="(obj.type==='LED' || obj.type==='VENTILATOR') && obj.measure==='0'">OFF</span>

                    <span *ngIf="(obj.type==='PRESENCE') && obj.measure==='1'">MOTION DETECTED</span>
                    <span *ngIf="(obj.type==='PRESENCE') && obj.measure==='0'">NO DETECTION</span>

                    <span *ngIf="obj.type==='TEMPERATURE'"> <span>{{obj.measure}}</span> °C</span>
                    <span *ngIf="obj.type==='LIGHT'"><span>{{obj.measure}}</span> Lux</span>
                    <span *ngIf="obj.type==='POWER'"><span>{{obj.measure}}</span> mA</span>
                </p>
                <p *ngIf="obj.measure==='Disconnected'"> Disconnected </p>
            </mat-card-content>
            
        </mat-card>

    </mat-grid-tile>
</mat-grid-list>
