<div *ngIf="server">
<app-header back='true' title="{{server.name}}" search="true"></app-header >
<div cols="4" *ngFor="let beacon of server.beacons" >
  <div *ngFor='let object of beacon.objects ' class="tile">
      <!-- <mat-card class="card">
          <mat-card-title  class="header" > -->
              <app-object-analytics [object]="object"></app-object-analytics>
              <!-- <mat-icon>toys</mat-icon>
          </mat-card-title>
          <mat-card-content>
                  <h4>{{object.name}}</h4>
          </mat-card-content>
          <mat-card-actions  >
              <button mat-icon-button ><mat-icon>delete</mat-icon></button>
              <button mat-icon-button ><mat-icon>settings</mat-icon></button>
              <button mat-icon-button ><mat-icon>add</mat-icon></button>
              <button mat-icon-button ><mat-icon>assessment</mat-icon></button>
          </mat-card-actions>
      </mat-card> -->
  </div>
</div>
</div>
