<mat-sidenav-container class="container">
  <mat-sidenav mode='side' opened='true' id="sidenav">
    <br>
    <div>
        <button mat-button ><mat-icon>fiber_manual_record</mat-icon> SMARTCERIST</button>
    </div>
    <br>
   
    <mat-button-toggle-group #group='matButtonToggleGroup' [vertical]='true' value='homes'>
      <mat-button-toggle value='homes' routerLink='homes' routerLinkActive>
        <mat-icon>home</mat-icon> Homes
      </mat-button-toggle>
      <mat-button-toggle value='rooms' routerLink='rooms' routerLinkActive>
        <mat-icon>crop_square</mat-icon> Rooms
      </mat-button-toggle>
      <mat-button-toggle value='users' routerLink='users' routerLinkActive>
        <mat-icon>people</mat-icon> Users
      </mat-button-toggle>
      <mat-button-toggle value='servers' routerLink='servers' routerLinkActive>
        <mat-icon>settings_system_daydream</mat-icon> Servers
      </mat-button-toggle>
      <mat-button-toggle value='notifications' routerLink='notifications' routerLinkActive>
        <mat-icon>notifications</mat-icon>Notifications
      </mat-button-toggle>
      <mat-button-toggle value='history' routerLink='history' routerLinkActive>
        <mat-icon>history</mat-icon> History
      </mat-button-toggle>
      <mat-button-toggle value='analytics' routerLink='analytics' routerLinkActive>
        <mat-icon>assessment</mat-icon> Analytics
      </mat-button-toggle>
      <mat-button-toggle value='settings' routerLink='settings' routerLinkActive>
        <mat-icon>settings</mat-icon> Settings
      </mat-button-toggle>
    </mat-button-toggle-group>

  </mat-sidenav>
  <mat-sidenav-content>

    <router-outlet></router-outlet>
  
  </mat-sidenav-content>
</mat-sidenav-container>