<mat-sidenav-container class="container">
    <mat-sidenav mode='side' opened='true' id="sidenav">

      <mat-button-toggle-group [vertical]='true' value='homes'>
        <mat-button-toggle value='homes'>
          <mat-icon>home</mat-icon>    Homes
        </mat-button-toggle><br>
        <mat-button-toggle  value='users'>
          <mat-icon>people</mat-icon>   Users
        </mat-button-toggle><br>
        <mat-button-toggle value='servers'>
          <mat-icon>computer</mat-icon>   Servers
        </mat-button-toggle><br>
        <mat-button-toggle value='history'>
          <mat-icon>history</mat-icon>   History
        </mat-button-toggle><br>
        <mat-button-toggle value='analytics'>
          <mat-icon>assessment</mat-icon>   Analytics
        </mat-button-toggle><br>
        <mat-button-toggle value='settings'>
          <mat-icon>settings</mat-icon>   Settings
        </mat-button-toggle>
      </mat-button-toggle-group>

    </mat-sidenav>
    <mat-sidenav-content>
      <br>      
        <app-home></app-home>
      <br>  
    </mat-sidenav-content>
  </mat-sidenav-container>


