<div class="header">
  <div class="left-part">
    <button *ngIf="back" (click)='goBack()' mat-mini-fab  color='#fff'><mat-icon>arrow_back</mat-icon></button>
    <h4>{{ title }}</h4>
  </div>
  <div class="right-part">
    <mat-form-field>
      <input matInput placeholder="Search" type="search">
    </mat-form-field>
    <button matTooltip="Search" mat-mini-fab color='#fff'><mat-icon>search</mat-icon></button>
    <app-notif-icon-btn ></app-notif-icon-btn>
    <button matTooltip="{{auth.email}}" mat-icon-button routerLink='/dashboard/profile'><mat-icon>person</mat-icon></button>
    <button matTooltip="Signout" mat-icon-button (click)="auth.signout()"><mat-icon>exit_to_app</mat-icon></button>
  </div>
</div>
<br><br>
