//////////////////////////////table //////////////////////
table {
  border-collapse: collapse;
  width: 100%;
  }


  th, td {
  text-align: center;
  padding: 8px;
  border-bottom-style: solid;
  border-bottom-color: rgb(95, 93, 93);
  border-bottom-width: 1px;
  }

  tr{color: #313131}

  th {
  background-color: rgb(245, 246, 247);
  color: black;
  }
