<app-header back='true' title='Home details' search="fasle"></app-header>
<mat-tab-group *ngIf="ownerEmail" >
    <mat-tab label="Rooms" >
        <app-rooms homeId="{{homeId}}" ></app-rooms>
        <app-add-button type="addRoom" homeId="{{homeId}}" *ngIf="ownerEmail == email" ></app-add-button>
    </mat-tab>
    <mat-tab label="Servers">
        <app-home-servers homeId="{{homeId}}" type="dynamic" ></app-home-servers>
        <app-add-button type="addServer" homeId="{{homeId}}" *ngIf="ownerEmail == email"></app-add-button>
    </mat-tab>
</mat-tab-group>
