<div class="{{category}}" >
      <span class="closebtn" (click)="removeEvent(notifId)" type="button" data-dismiss="alert" aria-label="Close"><i class="material-icons">close</i></span>
      <span class="closebtn" routerLink='/dashboard/notifications/{{notifId}}' type="button" data-dismiss="alert" aria-label="Info"><i class="material-icons">info</i></span>
      <i><mat-icon>{{category}}</mat-icon></i> <p><strong>Date: </strong> <span>{{date}}  </span> </p>
      <h3>{{resume}}</h3>
      <h4>{{message}}</h4>
</div>

