<mat-grid-list cols="4" *ngIf="type === 'dynamic'" >
  <mat-grid-tile *ngFor='let server of serversService.servers | async ' class="tile">
      <mat-card class="card" >
          <mat-card-title  class="header" routerLink="servers/{{server._id}}">
              <mat-icon>router</mat-icon>
          </mat-card-title>
          <mat-card-content>
                  <h4>{{server.name}}</h4>
          </mat-card-content>
          <mat-card-actions>
              <button mat-icon-button (click)="removeServer(server._id, server.name)"><mat-icon>delete</mat-icon></button>
              <button mat-icon-button (click)="editServer(server)"><mat-icon>settings</mat-icon></button>
          </mat-card-actions>
      </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="4" *ngIf="type === 'static'" >
    <mat-grid-tile *ngFor='let server of servers ' class="tile">
        <mat-card class="card">
            <mat-card-title  class="header" >
                <mat-icon>router</mat-icon>
            </mat-card-title>
            <mat-card-content>
                    <h4>{{server.name}}</h4>
            </mat-card-content>

        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
