<app-header back="true" title="Notifications" search='false'></app-header >
    <div class="container">
            <div class="row page-title">
              <div class="col-md-6 col-sm-6 col-xs-6">

                <mat-card >
                    <mat-card-content *ngFor="let notif of notService.allNotifications | async">
                        <div >
                            <app-notification-alert type="{{notif.type}}"
                                                    notifId="{{notif._id}}"
                                                    date="{{notif.date}}"
                                                    resume="{{notif.resume}}"
                                                    category="{{notif.category}}"
                                                    message="{{notif.message}}">

                            </app-notification-alert>
                        </div>
                    </mat-card-content>
                </mat-card>
                </div>
              </div>
            </div>


