<button matTooltip="notifications" mat-icon-button class="msg-btn" [matMenuTriggerFor]="menu">
    <span id ="notifications-number" >{{ eventsService.eventsNumbers }}</span>
    <i class="material-icons icon-btn">{{ icon }}</i>
</button>

  <mat-menu #menu="matMenu" >
    <div *ngFor="let event of eventsService.events | async">
      <button mat-menu-item class="notification-element" routerLink='/dashboard/notifications'>{{event.type}}</button>
    </div>
    <span mat-menu-item class="notification-all-elements" routerLink='/dashboard/notifications'>All notifications</span>
  </mat-menu>
