<app-header back="true" title='Room details' search="false"></app-header>

<h3 *ngIf="objects.length">Objects:</h3>


<mat-grid-list cols="2" rowHeight='150px'>
    <mat-grid-tile  *ngFor="let obj of objects" >

        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>
                    <mat-icon *ngIf="obj.type==='LED'"> lightbulb_outline </mat-icon>
                    <mat-icon *ngIf="obj.type==='LIGHT'"> highlight </mat-icon>
                    <mat-icon *ngIf="obj.type==='PRESENCE'"> remove_red_eye </mat-icon>
                    <mat-icon *ngIf="obj.type==='POWER'" > power </mat-icon>
                    <mat-icon *ngIf="obj.type==='TEMPERATURE'" > toll </mat-icon>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <h4>{{obj.name}}</h4>
                <button mat-raised-button *ngIf="obj.type==='LED' && obj.status" (click)='putLed(obj)'>ON/OFF</button>
                <button mat-icon-button ><mat-icon class="mat-18">settings</mat-icon></button>
                <button mat-icon-button (click)="removeObject(obj)" ><mat-icon>delete</mat-icon> </button>
                <button mat-icon-button *ngIf="obj.status" (click)='getObjectMeasure(obj)'><mat-icon>refresh</mat-icon></button>
                <p *ngIf="obj.status==='Disconnected'">STATUS: {{obj.status}}</p>
                <p *ngIf="obj.measure">Measure: {{obj.measure}}</p>
            </mat-card-content>
        </mat-card>

    </mat-grid-tile>
</mat-grid-list>

<h3 *ngIf="cameras.length">Cameras:</h3>


<mat-card class="cam-card" *ngFor="let camera of cameras">
    <mat-card-header>
        <mat-card-title>
            <h4>Dahua Camera:</h4>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <canvas id='canvas'+camera._id></canvas>
    </mat-card-content>
</mat-card>

<app-add-button icon="person" link='/dashboard/homes/{{homeId}}/rooms/{{roomId}}/users' type="addUser"></app-add-button>

<div class="dropdown" >
  <button mat-button class="dropbtn"><mat-icon>add_to_photos</mat-icon>Objects</button>
  <div class="dropdown-content">
    <a href="#">Link 1 <mat-icon class="mat-18">folder</mat-icon></a>
    <a href="#">Link 2 <mat-icon class="mat-18">folder</mat-icon></a>
    <a href="#">Link 3 <mat-icon class="mat-18">folder</mat-icon></a>
  </div>
</div>
