.right-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    position: relative;
    /*margin-top: 60px;*/
  }

  .profile{
    padding-bottom: 10px;
    top: -40px;
  }

  .profile img{
    border-radius: 50%;
    width: 130px;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }

  .right-profile h6{
    margin-top: 100px;
    margin-bottom: 8px;
    color: #999;
  }

  .right-profile h4{
    margin-bottom: 5px;
  }

  .right-profile p{
    color: #999;
  }

  .right-profile button {
    margin-top: 15px;
  }

  .card{
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    margin-top: 40px;
  }

  .card-header {
    position: absolute;
    text-align: center;
    background: linear-gradient(60deg, #7e797b, #6b6064);
    box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(122, 117, 119, 0.4);
    /*margin: -20px 15px 0;*/
    border-radius: 3px;
    padding: 15px;
    top: -23px;
  }

  .card-header i {
    font-size: 24px;
    width: 33px;
    height: 33px;
    line-height: 33px;
    color: #fff;
  }

  .card-content{
    position: relative;
  }

  .card-title{
    padding-left: 80px;
  }

  .mat-input-container {
    width: 60%;
    margin-left: 15%;
  }
  .mat-select{
    width: 20%;
    margin-left: 15%;
  }

  .right-profile{
    width: 40%;
    margin-left:25%;
  }

  .category{
    font-weight: 300;
  }

  form{
    margin-top: 30px;
  }

  .row{
    margin-top: 15px;
  }

  .mat-input-container textarea{
    height: 90px;
  }

  .textarea-label{
    color: #aaa;
    margin-bottom: 10px;
  }

  .action-btn{
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
  }
//////////////////////////////////////////////////////////////
/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-color: #eee;
}

* {
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, button, div, label, small {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  /*line-height: 1.5em;*/
  margin: 0;
}

h1, .h1 {
  font-size: 3.8em;
}

h2, .h2 {
  font-size: 2.6em;
}

h3, .h3 {
  font-size: 1.825em;
}

h4, .h4 {
  font-size: 1.3em;
}

h5, .h5 {
  font-size: 1.25em;
  line-height: 1.5em;
}

h6, .h6 {
  font-size: 1em;
  text-transform: uppercase;
}



.container{
  padding: 15px 30px;
}

.profile-container {
  padding-left: 10%;
  padding-right: 10%;
}


.card{
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  color: rgba(0,0,0, 0.87);
  background: #fff;
}

.card-raised{
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.page-title{
  margin-top: 40px;
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}



.swal2-modal{
  outline: none;
}


/* btn style */
.btn{
  font-size: 12px !important;
  padding: 12px 30px !important;
  line-height: inherit !important;
  outline: none !important;
  font-weight: 300 !important;
  border-radius: 3px !important;
  margin: 0 1px;
  border: none !important;
}

.btn-rose{
  background-color: #054792 !important;
  color: #FFF !important;
  box-shadow: 0 2px 2px 0 rgba(233, 30, 99, 0.14), 0 3px 1px -2px rgba(233, 30, 99, 0.2), 0 1px 5px 0 rgba(233, 30, 99, 0.12) !important;
}

.btn-rose:hover{
  box-shadow: 0 14px 26px -12px rgba(233, 30, 99, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(233, 30, 99, 0.2) !important;
}
