<app-header back="true" title='Users' search="false"></app-header>
<mat-card *ngIf="permission"  >
<mat-accordion *ngIf="((permission == 'owner') || (permission == 'admin'))" >
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add a User
      </mat-panel-title>
      <mat-panel-description>
        restricted permissions
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-person-add type="user"></app-person-add>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                       *ngIf="(permission == 'owner')">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add an Admin
      </mat-panel-title>
      <mat-panel-description>
        all permissions
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-person-add type="admin"></app-person-add>
  </mat-expansion-panel>
</mat-accordion>

<table >
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Permissions</th>
    <th *ngIf="((permission == 'owner') || (permission == 'admin'))">Settings</th>
  </tr>
    <tr *ngFor="let user of usersService.users | async ">
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td><app-user-permissions  roomId="{{roomId}}" userId="{{user._id}}"></app-user-permissions></td>

      <td *ngIf="((permission == 'owner') || (permission == 'admin'))">
        <button mat-icon-button  (click)="editUser(user)" ><mat-icon>edit</mat-icon></button>
        <button mat-icon-button  (click)="deleteUser(user._id)" ><mat-icon>delete</mat-icon></button>
      </td>
    </tr>

    <!-- <app-current-room-users homeId="{{homeId}}" roomId="{{roomId}}" user="{{user}}"></app-current-room-users> -->
  </table>

</mat-card>
