.home-form-div {
    display: flex;
    flex-direction: column;
    width: 70%;
  }

.home-form{
    margin-left: 25%;
}

.home-form-add{
    position : absolute;
    margin-left:15%;
    width: 70%;
}
.error {
    background-color: #fff0f0; 
}