@import 'theme';

.background{
    background: url("./assets/img/cerist.jpg") no-repeat center center;
    height: 100%;
    background-size: cover;
    filter: brightness(65%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.info {
  background: rgb(39, 151, 241);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  opacity: 0.9;
}

.danger {
  background: rgb(247, 78, 66);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  opacity: 0.9;
}
.success {
  background: rgb(94, 180, 97);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  opacity: 0.9;
}

.warning {
  background: #f7ce48;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  opacity: 0.9;
}
