@import 'theme';

.background{
    background: url("./assets/img/login_bg.jpg") no-repeat center center;
    height: 100%;
    background-size: cover;
    filter: brightness(40%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.info {
  background: #2196F3;
}

.danger {
  background: #F44336;
}
.danger {
  background: #f44336;
}

.success {
  background: #4CAF50;
}

.info {
  background: #2196F3;
}

.warning {
  background: #ffeb3b;
}
