<button matTooltip="Choose Sensor" mat-icon-button class="msg-btn" [matMenuTriggerFor]="menu"  >
    <i class="material-icons icon-btn">add_to_photos</i> <span>Add Action</span>
  </button>

<mat-menu #menu="matMenu" id="notification-menu" >
  <div *ngFor="let server of serversService.servers | async">
    <div *ngFor="let beacon of server.beacons" >
      <div *ngFor="let object of beacon.objects" >
          <span mat-menu-item class="notification-element" (click)="addAction(server._id, beacon._id, object._id, object.type)"> {{object.name}} </span>
      </div>
    </div>
  </div>
</mat-menu>

<mat-card  *ngIf="rule">
    <table  >
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>
        <th>Manage</th>
      </tr>
      <tr *ngFor="let action of homeService.actions | async">
        <td >{{action.name}}</td>
        <td>{{action.description}}</td>
        <td>{{action.action}}</td>
        <td><button mat-icon-button  (click)="deleteAction(action)" ><mat-icon>delete</mat-icon></button></td>
      </tr>
      </table>
    </mat-card>
